<!DOCTYPE html>
<html>
  {{ partial "head.html" . }} {{ partial "header.html" . }}
  <section class="slice slice-isrg bg-cover bg-size--cover overflow-hidden" data-spotlight="fullscreen" data-separator="rounded-left" data-separator-orientation="bottom">
    <span class="mask bg-gradient-secondary opacity-8"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="pt-lg-md pb-lg-md">
            <h1 id="page-title" class="heading display-4 font-weight-300 lh-110 mb-4">InspiringGroup</h1>
            <p class="lead lh-180">
              InspiringGroup 是<a href='https://www.insc.tsinghua.edu.cn/'>清华大学网络科学与网络空间研究院</a>的一个研究小组。我们致力于数据相关的研究，包括数据传输和计算的安全和效率的基础设施，以及数据安全和隐私的应用。
            </p>
            <div class="mt-5">
              <a href={{ "/research/" | relLangURL }} class="btn btn-primary btn-sm btn-circle btn-translate--hover mr-2 mt-2">研究</a>
              <a href={{ "/join/" | relLangURL }} class="btn btn-primary btn-sm btn-circle btn-translate--hover mr-2 mt-2">加入我们</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 homepage-logos-column">
          <div class="pt-lg-md pb-lg-md">
            <div>
              <a href="https://www.tsinghua.edu.cn/en/"><img src="/images/tsinghua.png" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slice">
    <div class="container">
      <h2 class="eyebrow-text"><a href="/blog">Latest News</a></h2>
      {{ $posts := where .Site.RegularPages "Type" "in" (slice "post") | first 3 }} {{ range $posts }}
      <div class="row row-grid">
        <div class="col-md-12 col-lg-12">
          <h2 class="heading h2">{{ .Title }}</h2>
          <p>{{ with .Params.excerpt }} {{ . | markdownify }} {{ else }} {{ .Summary }} {{ end }}</p>
          {{ if .Params.has_more }}
            <a href="{{ .Permalink }}" class="link font-weight-bold" data-link="1">{{ i18n "read_more" }}</a>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </section>

  <!-- {{ partial "projects/projects-column.html" }} -->


  {{ partial "footer.html" . }}
</html>
